.config/.oh-my-zsh/* linguist-vendored
.config/nvim/* linguist-vendored
.oh-my-zsh/* liunguist-vendored

*.lua linguist-vendored
*.vim linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
